<h2>Hi there.</h2>
<p class='first'><strong>lalacal</strong> is a unified calendar for the technology community of Los Angeles, California. Your are encouraged to import, create, and edit your technical events. No account or password required.</p>

<h4>Los Angeles Tech Culture</h4>
<ul>
  <li><a href='/about#find_local_events'>Find local events</a></li>
  <li><a href='/about#share_local_events'>Share local events</a></li>
  <li><a href='/about#get_involved'>Get involved</a></li>
</ul>
<p>Last updated Thursday, July 16 12:53 PM</p>
