<h2>Hi there.</h2>
<p class='first'><strong>LaLaCal.com</strong> is a unified calendar for the technology community of Los Angeles, California. Based on the We are an all-volunteer effort and encourage anyone to import, create, and edit events.</p>
<p>LaLaCal runs on <a href="http://code.google.com/p/calagator/">Caligator.</a></p>

<h4>Los Angeles Tech Culture</h4>
<ul>
  <li><a href='http://lalawag.com'>lalawag</a></li>
  <li><a href='http://www.brimdeforest.com'>www.brimdeforest.com</a></li>
  <li><a href='http://www.tubefilter.tv'>www.tubefilter.tv</a></li>
  <li><a href='/about#find_local_events'>Find local events</a></li>
  <li><a href='/about#share_local_events'>Share local events</a></li>
  <li><a href='/about#get_involved'>Get involved</a></li>
</ul>
